body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; 
  background-color: lightgray; 
}

header, footer {
  text-align: center;
  padding: 1rem;
  background-color: blue;
  color: aliceblue;
}

nav {
  text-align: center;
  padding: 0.5rem;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: normal; 
}

.menu-label {
  display: block; 
  margin: 0 auto;
  font-weight: bold;
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
}

nav a {
  display: none; 
  margin: 10px 0;
  text-decoration: none;
  color: white;
}

nav.open a {
  display: block; 
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  justify-items: center;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
}
@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1000px) {
  .menu-label {
    display: none; 
  }
  nav a {
    display: inline-block; 
    margin: 0 1rem;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}


dialog {
    border: none;
    padding: 0;
    background: transparent;
    max-width: 100vw;
    max-height: 100vh;
    outline: none;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.85);
}

.viewer {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

dialog img {
    display: block;
    width: auto;
    max-width: 80vw; 
    max-height: 80vh;
    border: 5px solid white;
}

.close-viewer {
    position: absolute; 
    top: 5px;           
    right: 5px;
    background-color: white; 
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
}