
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; 
  background-color: lightgray; 
}

header,
footer {
  text-align: center;
  padding: 1rem;
  background-color: blue;
  color: aliceblue;
}

nav {
  text-align: center;
  padding: 0.5rem;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: normal; 
}

.menu-label {
  display: inline-block; 
  font-weight: bold;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem; 
}

nav.open a {
  display: inline-block;  
}

nav a {
  display: none;          
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}
.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
}

@media (min-width: 700px) {
  nav {
    display: block;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .menu-label {
    display: none;
  }

  nav a {
    display: inline-block;
  }
}
